/* src/app/app.component.css */

.header {
  background: #ffc97c; /* Second color */
  border-bottom: 1px solid #c1c1c1; /* Fourth color */
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.8em;
  color: #333;
  text-decoration: none;
  font-weight: 700;
}

.navbar-right {
  display: flex;
  gap: 15px;
  margin-left: auto; /* Ensure right alignment */
}

.navbar-link {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s, background 0.3s;
}

.navbar-link:hover, .navbar-link.active {
  color: #fff;
  background: #ea7659; /* Third color for hover */
  border-radius: 5px;
}

.login-button {
  padding: 10px 15px;
  background: #ffc97c; /* Second color */
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-button:hover {
  background: #ea7659; /* Third color */
}

.content {
  padding: 20px;
}
