<div class="header">
  <nav class="navbar">
    <a class="navbar-brand" routerLink="/">Home</a>
    <ng-container *ngIf="isLoggedIn(); else showLogin">
      <a class="navbar-link" routerLink="/manage">Manage</a>
      <a (click)="logout()" class="navbar-link" href="#">Logout</a>
    </ng-container>
    <ng-template #showLogin>
      <a class="navbar-link login-button" routerLink="/login">Login</a>
    </ng-template>
  </nav>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
