.header {
  background-color: #3a6186; /* Match the gradient start color */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-brand {
  font-size: 1.5em;
  color: #f4e04d; /* Match the highlighted text color */
  text-decoration: none;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-link:hover {
  background-color: #555;
  border-radius: 5px;
}

.login-button {
  background-color: #f4e04d;
  color: #333;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #ffe66d;
}

.content {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-link, .login-button {
    margin: 5px 0;
    width: 100%;
    text-align: center;
  }
}
