@if (isLoading) {
  <p class="loading-message">{{ message }}</p>
} @else if (!videoItem) {
  <p class="no-video-message">{{ message }}</p>
} @else {
  <h2 class="video-title">{{ videoItem.name }}</h2>
  <div class="video-wrapper">
    <iframe
      [src]="sanitizer.bypassSecurityTrustResourceUrl(getVimeoEmbedUrl(videoItem.vimeo_id))"
      allow="fullscreen"
      class="vimeo-player">
    </iframe>
  </div>
  <p class="video-coordinates">{{ videoItem.description }}</p>
  <p class="video-coordinates">Latitude: {{ videoItem.gps_latitude }}</p>
  <p class="video-coordinates">Longitude: {{ videoItem.gps_longitude }}</p>
}
