/* src/app/playback/playback.component.css */

--first-color: #fcf9f4;
--third-color: #ea7659;

:host {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background: var(--first-color);
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.loading-message {
  font-size: 1.5em;
  color: #333;
  padding: 50px 0;
}

.video-title {
  font-size: 2em;
  color: var(--third-color);
  margin-bottom: 15px;
}

.video-wrapper {
  margin-bottom: 20px; /* Adds space between video and text below */
}

.vimeo-player-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Aspect ratio for 16:9 videos */
  position: relative;
}

.vimeo-player-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-description {
  font-size: 1.2em;
  color: #333;
  margin-top: 10px;
  padding-top: 60px;
}

.video-coordinates {
  font-size: 1.2em;
  color: #333;
  margin-top: 10px;
}

.no-video-message {
  font-size: 1.5em;
  color: var(--third-color);
  padding: 50px 0;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .video-title {
    font-size: 1.5em;
  }

  .video-coordinates {
    font-size: 1em;
  }

  .no-video-message {
    font-size: 1.2em;
  }
}
