<div class="container">
  @if (isLoading) {
    <p class="loading-message">{{ message }}</p>
  } @else if (!videoItem) {
    <p class="no-video-message">{{ message }}</p>
  } @else {
    <h2 class="video-title">{{ videoItem.name }}</h2>
    <div class="video-wrapper">
      <div
        #vimeoContainer
        class="vimeo-player-container"></div>
    </div>
    <p class="video-description">{{ videoItem.description }}</p>
    <p class="video-coordinates">Latitude: {{ videoItem.gps_latitude }}</p>
    <p class="video-coordinates">Longitude: {{ videoItem.gps_longitude }}</p>
  }
</div>
