/* src/app/playback/playback.component.css */

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background: #fcf9f4; /* First color */
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.loading-message {
  font-size: 1.5em;
  color: #333;
  padding: 50px 0;
}

.video-title {
  font-size: 2em;
  color: #ea7659; /* Third color */
  margin-bottom: 15px;
}

.video-wrapper {
  margin: 20px 0;
}

.vimeo-player {
  width: 100%;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.video-coordinates {
  font-size: 1.2em;
  color: #333;
  margin-top: 10px;
}

.no-video-message {
  font-size: 1.5em;
  color: #ea7659; /* Third color */
  padding: 50px 0;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .video-title {
    font-size: 1.5em;
  }

  .vimeo-player {
    height: 300px;
  }

  .video-coordinates {
    font-size: 1em;
  }

  .no-video-message {
    font-size: 1.2em;
  }
}
